<p id="notice"><%= notice %></p>

<p>
  <b>Marca:</b>
  <%= @vehiculo.marca %>
</p>

<p>
  <b>Modelo:</b>
  <%= @vehiculo.modelo %>
</p>

<p>
  <b>Anio:</b>
  <%= @vehiculo.anio %>
</p>

<p>
  <b>Kms:</b>
  <%= @vehiculo.kms %>
</p>

<%= link_to 'Edit', edit_vehiculo_path(@vehiculo) %> |
<%= link_to 'Back', vehiculos_path %>
